
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --font-poppins: Poppins;
    --font-domine: Domine;
    
    /* font sizes */
    --font-size-base: 16px;
    
    /* Colors */
    --color-black: #000;
    --color-white: #fff;
    
    /* Border radiuses */
    --br-mini: 15px;
    
}